{% extends "base.html" %}
{% block titutlo %}Contáctanos{% endblock%}
{% block clasem4 %}active{% endblock %}
{% block cuerpo %}
<section class="col1">
	<h2 class="under">Formulario Contacto</h2>
	{% if formulario %}
		<form id="ContactForm" method="post" action="">
		{% csrf_token %}
		<div>
			<div  class="wrapper">
				<span>Tu Nombre:</span>
				{% for error in formulario.Nombre.errors%}
					<p class="error">{{error|escape}}</p>
				{% endfor %}
				{{ formulario.Nombre }}
			</div>
			<div  class="wrapper">
				<span>Tu Ciudad:</span>
				{% for error in formulario.Ciudad.errors%}
					<p class="error">{{error|escape}}</p>
				{% endfor %}
				{{ formulario.Ciudad }}
			</div>
			<div  class="wrapper">
				<span>Tu E-mail:</span>
				{{ formulario.Email}}
				{% for error in formulario.Email.errors%}
					<p class="error">{{error|escape}}</p>
				{% endfor %}
			</div>
			<div  class="textarea_box">
				<span>Tu Mensaje:</span>
				{{ formulario.Mensaje }}
			</div>
			<input type="submit" value="Enviar" class="submit">
			<a href="" onClick="document.getElementById('ContactForm').reset()">Limpiar</a>
		</div>	
	{% endif %}
	
</form>
</section>
<section class="col2 pad_left1">
	<h2 class="under">Contacto</h2>
	{% if contacto %}
		{% for d in contacto %}
	<div id="address"><span>Pais:<br>
			Ciudad:<br>
			Telefono:<br>
			Email:</span>
			{{d.pais}}<br>
			{{d.ciudad}}<br>
			{{d.telefono}}<br>
			<a href="mailto:" class="color2">{{d.email}}</a></div>
		{% endfor %}
	{% else %}
		Datos no definidos aun
	{% endif %}
</section>
{% endblock %}
{% block datos %}
	{% if contacto %}
		{% for c in contacto  %}
			<h4>{{c.empresa}}</h4>
			<ul class="address">
				<li><span>País:</span>{{ c.pais }}</li>
				<li><span>Ciudad:</span>{{ c.ciudad }}</li>
				<li><span>Teléfono:</span>{{ c.telefono }}</li>
				<li><span>Email:</span><a href="mailto:">{{ c.email }}</a></li>
			</ul>
		{% endfor %}
	{% else %}
		<h4>datos no definidos</h4>
	{% endif %}
{% endblock datos %}