{% extends "base.html" %}
{% block titutlo %}Contáctanos{% endblock%}
{% block clasem4 %}active{% endblock %}
{% block cuerpo %}
<section class="col1">
	<h2 class="under">Formulario Contacto</h2>
	<form id="ContactForm" method="post">
	<div>
		<div  class="wrapper">
			<span>Tu Nombre:</span>
			<input type="text" class="input" >
		</div>
		<div  class="wrapper">
			<span>Tu Ciudad:</span>
			<input type="text" class="input" >
		</div>
		<div  class="wrapper">
			<span>Tu E-mail:</span>
			<input type="text" class="input" >
		</div>
		<div  class="textarea_box">
			<span>Tu Mensaje:</span>
			<textarea name="textarea" cols="1" rows="1"></textarea>
		</div>
		<a href="" onClick="document.getElementById('ContactForm').submit()">Enviar</a>
		<a href="" onClick="document.getElementById('ContactForm').reset()">Limpiar</a>
	</div>
</form>
</section>
<section class="col2 pad_left1">
	<h2 class="under">Contacto</h2>
	{% if contacto %}
		{% for d in contacto %}
	<div id="address"><span>Pais:<br>
			Ciudad:<br>
			Telefono:<br>
			Email:</span>
			{{d.Pais}}<br>
			{{d.Ciudad}}<br>
			{{d.Telefono}}<br>
			<a href="mailto:" class="color2">{{d.Email}}</a></div>
		{% endfor %}
	{% else %}
		Datos no definidos aun
	{% endif %}
</section>
{% endblock %}
{% block datos %}
	{% if contacto %}
		{% for c in contacto  %}
			<h4>{{c.Empresa}}</h4>
			<ul class="address">
				<li><span>País:</span>{{ c.Pais }}</li>
				<li><span>Ciudad:</span>{{ c.Ciudad }}</li>
				<li><span>Teléfono:</span>{{ c.Telefono }}</li>
				<li><span>Email:</span><a href="mailto:">{{ c.Email }}</a></li>
			</ul>
		{% endfor %}
	{% else %}
		<h4>datos no definidos</h4>
	{% endif %}
{% endblock datos %}