{% extends "base.html" %}
{% block titulo %} CAPAON - Servicios de Capacitación {% endblock %}
{% block clasem1 %}active{% endblock %}

{% block cursos %}
		<div class="wrapper">
			<section class="cols">
				<h3><span class="dropcap">1</span>Curso 1<span> puede parte del nombre del curso</span></h3>
				<p class="pad_bot1">descripcion del curso</p>
				<a href="aca va el link del curso 1" class="link1">Ver mas...</a>
			</section>
			<section class="cols pad_left1">
				<h3><span class="dropcap">2</span>Curso 2<span> puede ir parte del nombre del curso</span></h3>
				<p class="pad_bot1">descripcion del curso</p>
				<a href="aca va el link del curso 2" class="link1">Ver mas...</a>
			</section>
			<section class="cols pad_left1">
				<h3><span class="dropcap">3</span>curso 3<span>parte del nombre curso</span></h3>
				<p class="pad_bot1">descripcion del curso</p>
				<a href="aca va el link del curso 3" class="link1">Ver mas...</a>
			</section>
			<section class="cols pad_left1">
				<h3><span class="dropcap">4</span>curson 4<span>parte del nombre curso</span></h3>
				<p class="pad_bot1">descripcion del curso</p>
				<a href="aca va el link del curso 4" class="link1">Ver mas...</a>
			</section>
		</div>

{% endblock %}


{% block cuerpo %}
<div class="wrapper">
	<section class="col1">
		{% if QuienesSomos %}
			{% for q in QuienesSomos%}
				<h2 class="under">{{ q.titulo}}</h2>
				<div class="wrapper">
					<figure class="left marg_right1"><img src="/media/images/page1_img1.jpg" alt=""></figure>
					<p class="pad_bot1">{{ q.Descripcion}}</p>
				</div>
			{% endfor %}
		{% else %}
			<h2 class= "under"> Titulo de Quienes Somos</h2>
			<div class="wraper">
				<p class="pad_bot1">Contenido de Quienes Somos</p>
			</div>
		{% endif %}
	</section>
</div>
	
{% endblock %}