{% extends "base.html" %}
{% block titulo %} CAPAON - Servicios de Capacitación {% endblock %}
{% block clasem1 %}active{% endblock %}

{% block cursos %}
	<div class="wrapper">
		{% if cursos %}
			{% for c in cursos %}
				<section class="cols">
					<h3><span class="dropcap">{{ forloop.counter }}</span>Curso<span>{{c.Nombre}}</span></h3>
					<p class="pad_bot1">{{ c.Generalidades|truncatewords:"12"}}</p>
					<a href="capacitacion/{{c.id}}" class="link1">Ver mas...</a>
				</section>
			{% endfor %}
			
		{% endif %}
	</div>
{% endblock %}


{% block cuerpo %}
<div class="wrapper">
	<section class="col1">
		{% if quienesSomos %}
			{% for q in quienesSomos%}
				<h2 class="under">{{ q.titulo}}</h2>
				<div class="wrapper">
					<figure class="left marg_right1"><img src="/media/images/page1_img1.jpg" alt=""></figure>
					<p class="pad_bot1">{{ q.Descripcion}}</p>
				</div>
			{% endfor %}
		{% else %}
			<h2 class= "under"> Titulo de Quienes Somos</h2>
			<div class="wraper">
				<p class="pad_bot1">Contenido de Quienes Somos</p>
			</div>
		{% endif %}
	</section>
</div>
	
{% endblock %}
{% block datos %}
	{% if contacto %}
		{% for c in contacto  %}
			<h4>{{c.Empresa}}</h4>
			<ul class="address">
				<li><span>País:</span>{{ c.Pais }}</li>
				<li><span>Ciudad:</span>{{ c.Ciudad }}</li>
				<li><span>Teléfono:</span>{{ c.Telefono }}</li>
				<li><span>Email:</span><a href="mailto:">{{ c.Email }}</a></li>
			</ul>
		{% endfor %}
	{% else %}
		<h4>datos no definidos</h4>
	{% endif %}
{% endblock datos %}