{% extends "base.html" %}
{% block titulo %}Registro de Cliente Empresa {% endblock %}
{% block registrosesion %}{% endblock registrosesion %}
{% block cuerpo%}
	<section class="contRegistro">
		<div>
			<h3>Que tipo de usuario eres?</h3>
			<a class="usuarioregistro" href="individual" id="individual">Individual</a>
        	<a class="usuarioregistro" href="empresa" id="empresarial">Empresarial</a>	
		</div>
	</section>
{% endblock %}
{% block datos %}
	{% if contacto %}
		{% for c in contacto  %}
			<h4>{{c.empresa}}</h4>
			<ul class="address">
				<li><span>País:</span>{{ c.pais }}</li>
				<li><span>Ciudad:</span>{{ c.ciudad }}</li>
				<li><span>Teléfono:</span>{{ c.telefono }}</li>
				<li><span>Email:</span><a href="mailto:">{{ c.email }}</a></li>
			</ul>
		{% endfor %}
	{% else %}
		<h4>datos no definidos</h4>
	{% endif %}
{% endblock datos %}